<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.main">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.SearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.StartUpProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
    </application>

</manifest>